---
import Layout from '@/components/templates/Layout/index.astro';
import Prose from '@/components/Prose/index.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry: entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const pageTitle = `${entry.data.title} | Blog`;
const pageDescription = `${entry.data.topic}`;
---

<Layout title={pageTitle} type="post" description={pageDescription}>
  <div class="mb-16 flex flex-col gap-6">
    <h1 class="text-[40px] font-bold leading-[calc(40px*1.5)] dark:text-white">
      {entry.data.title}
    </h1>
    <p class="flex w-full items-center gap-1">
      <ion-icon class="time" name="time-outline"></ion-icon>
      <span class="text-sm dark:text-white"
        >{remarkPluginFrontmatter.minutesRead}</span
      >
    </p>
  </div>
  <Prose>
    <Content />
  </Prose>
  <div class="mt-[50px]">
    <a
      href=`https://github.com/pillomon/devvoyage.io/tree/main/src/content/blog/${entry.slug}.md`
      target="_blank"
      rel="noopenner noreferer"
      class="flex w-fit items-center gap-1 rounded-[6px] border-[1px] border-solid border-[#7a828e] bg-[#272B33] p-[16px] text-lg text-white medium:text-2xl"
      >Edit on Github
      <ion-icon
        name="open-outline"
        class="text-[16px] text-white medium:text-[20px]"></ion-icon></a
    >
  </div>
</Layout>
