---
import { Image } from 'astro:assets';
import type { Framework } from '@/islands/types';

export interface Props {
  id: number;
  framework: Framework;
  slug: string;
  title: string;
  topic: string;
}

const { id, framework, title, topic } = Astro.props;
---

<article
  class="group h-[270px] w-full cursor-pointer rounded-md bg-gray-100 p-[30px] shadow-xl transition-all large:h-[300px] large:w-[292px] large:hover:scale-105"
>
  <a href={`/lab/${id}`} class="flex h-full w-full flex-col justify-between">
    <div class="flex flex-col gap-[10px]">
      <div
        class="flex h-[64px] w-[64px] items-center justify-center rounded-[50%] bg-gray-700"
      >
        <Image
          src={`/images/frameworks/${framework}.svg`}
          width={38}
          height={38}
          alt=`${framework} icon.`
        />
      </div>
      <h2
        class="text-md line-clamp-2 font-semibold medium:group-hover:text-primary large:line-clamp-3"
      >
        {title}
      </h2>
      <p class="line-clamp-2 text-sm large:line-clamp-3">{topic}</p>
    </div>
    <div class="flex w-full justify-end">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  </a>
</article>
