---
import { Image } from 'astro:assets';
import dayjs from 'dayjs';
import BG01 from '#/images/bg-01.jpg';
import BG02 from '#/images/bg-02.jpg';
import BG03 from '#/images/bg-03.jpg';

interface Props {
  data: {
    title: string;
    thumbnail?: {
      src: string;
      alt: string;
    };
    createdDate: Date;
    modifiedDate?: Date;
    topic: string;
    slug: string;
  };
}

const { title, thumbnail, createdDate, modifiedDate, topic, slug } =
  Astro.props.data;
const formattedCreatedDate = dayjs(createdDate).format('MMM DD, YYYY');

const backUpImageData = [BG01, BG02, BG03];
const alternativeImage =
  backUpImageData[Math.floor(Math.random() * backUpImageData.length)];
---

<article id=`article-${slug}` class="group w-full">
  <a
    href={`/blog/${slug}`}
    class="flex w-full flex-col items-start justify-between gap-[20px] medium:flex-row medium:items-center"
  >
    <picture
      class="flex h-[110px] w-[140px] items-center justify-center overflow-hidden rounded-[22px] medium:h-[172px] medium:w-[208px] extra:h-[244px] extra:w-[288px]"
    >
      {
        thumbnail ? (
          <Image
            src={thumbnail.src}
            alt={thumbnail?.alt}
            inferSize
            class="h-full w-full object-cover"
          />
        ) : (
          <Image
            src={alternativeImage}
            alt="thumbnail"
            class="h-full w-full object-cover"
          />
        )
      }
    </picture>
    <div class="flex flex-1 flex-col items-start justify-start gap-2">
      <p class="flex w-full items-center justify-start">
        <span class="text-xs medium:text-sm extra:text-base dark:text-white"
          >{formattedCreatedDate}</span
        >
      </p>
      <h2
        class="group-hover:text-primary line-clamp-2 w-full text-xl font-semibold transition-all medium:text-2xl extra:text-3xl dark:text-white"
      >
        {title}
      </h2>
      <p
        class="extra:text-large w-full text-xs text-gray-500 small:text-sm dark:text-gray-400"
      >
        <span class="line-clamp-3">{topic}</span>
      </p>
    </div>
  </a>
</article>
